.input {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.input .input-case {
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid;
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  min-width: 254px;
  padding: 12px 16px;
  position: relative;
  width: 100%;
}

.input .content {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.input .instance-node {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.input .ellipse-wrapper {
  border: 2px solid;
  border-color: #e7e7e7;
  border-radius: 10px;
  height: 20px;
  overflow: hidden;
  position: relative;
  width: 20px;
}

.input .img {
  height: 12px;
  left: 8px;
  position: absolute;
  top: -2px;
  width: 10px;
}

.input .send-a-message {
  flex: 1;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
}

.input .cursor {
  height: 32px;
  left: 163px;
  position: absolute;
  top: 5px;
  width: 32px;
}

.input .dscr {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 4px;
  min-width: 254px;
  position: relative;
  width: 100%;
}

.input .text-wrapper-3 {
  color: var(--gray-400);
  flex: 1;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.input .p {
  color: var(--gray-400);
  flex: 1;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: right;
}

.input.state-active {
  width: 669px;
}

.input.state-disabled {
  width: 669px;
}

.input.state-hover {
  width: 669px;
}

.input.state-generate {
  width: 694px;
}

.input.state-default {
  width: 669px;
}

.input.state-filled {
  width: 669px;
}

.input.state-active .input-case {
  border-color: #000000;
  overflow: hidden;
}

.input.state-disabled .input-case {
  background-color: #e4e4e4;
  border-color: #e4e4e4;
  overflow: hidden;
}

.input.state-hover .input-case {
  border-color: #626262;
}

.input.state-generate .input-case {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  overflow: hidden;
}

.input.state-default .input-case {
  border-color: #e7e7e7;
  overflow: hidden;
}

.input.state-filled .input-case {
  border-color: #e7e7e7;
  overflow: hidden;
}

.input.state-active .send-a-message {
  color: #919191;
}

.input.state-disabled .send-a-message {
  color: #c3c3c3;
}

.input.state-hover .send-a-message {
  color: #919191;
}

.input.state-generate .send-a-message {
  color: #000000;
}

.input.state-default .send-a-message {
  color: #919191;
}

.input.state-filled .send-a-message {
  color: #000000;
}

.input-case input {
  border: none;
  outline: none;
  /* Removes the outline when the input is focused */
  box-shadow: none;
  /* Removes any box shadow */
  border-radius: 0;
}

.input-case input:focus {
  border: none;
}