.BT {
  align-items: flex-start;
  border-radius: 8px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
}

.BT .frame-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.BT .help {
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.BT .help-circle {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.BT.state-hover-pressed {
  background-color: #000000;
}

.BT.state-hover-pressed .help {
  color: #ffffff;
}

.BT.state-default .help {
  color: #757575;
}
